@using Application.Flights.Queries.GetFlightDetail
@model FlightDetailReadModel

@{
    ViewBag.Title = "Flight Report";
    Layout = "_Layout";
}

<h2>Flight Detail</h2>
<table class="table table-striped">
    <tr>
        <th>ID:   </th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>Departure Airport:   </th>
        <td>  @Model.DepartureAirportName</td>
    </tr>
    <tr>
        <th>Destination Airport:   </th>
        <td>  @Model.DestinationAirportName</td>
    </tr>
    <tr>
        <th>Aircraft Model:   </th>
        <td>  @Model.AircraftModel</td>
    </tr>
    <tr>
        <th>Distance:   </th>
        <td>  @Model.Distance km</td>
    </tr>
    <tr>
        <th>Required Fuel:   </th>
        <td>  @Model.RequiredFuel l</td>
    </tr>
</table>

<div>
    <a class="btn btn-primary" href="/flights/edit/@Model.Id">Edit Flight</a>
</div>
